@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
  --font-serif: var(--font-stone-serif), var(--font-run-yuan-serif), serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #400649 transparent; /* thumb track */
}
.scrollbar-thin::-webkit-scrollbar {
	width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: #400649;
	border-radius: 4px;
}

body {
	background: var(--background);
	color: var(--foreground);
}
