@import "tailwindcss";

@theme {
	--color-primary: var(--primary);
	--color-secondary: var(--secondary, var(--primary));
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}
:root[data-theme-color="tsinghua"] {
	--primary: #660974;
	--secondary: #C83272;
}
:root[data-theme-color="blue-purple"] {
	--primary: #1e40af;
	--secondary: #4d2ebc;
}

.dark {
	--background: #0a0a0a;
	--foreground: #ededed;
}
.dark[data-theme-color="tsinghua"] {
	--primary: #4f075a;
	--secondary: #a8054c;
}
.dark[data-theme-color="blue-purple"] {
	--primary: #2a4dc0;
	--secondary: #5733d9;
}

@theme inline {
  	--font-serif: var(--font-stone-serif), var(--font-run-yuan-serif), serif;
}



.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #400649 transparent; /* thumb track */
}
.scrollbar-thin::-webkit-scrollbar {
	width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: #400649;
	border-radius: 4px;
}

body {
	background: var(--background);
	color: var(--foreground);
}
