article {
    --color-accent: #A7064D; /* text-[#A7064D] dark:text-[#ffb3d4] */
    @media (prefers-color-scheme: dark) {
        --color-accent: #ffb3d4;
    }
}

mjx-mstyle[style="border: 1.5px solid;"] {
    background-color: color-mix(in srgb, var(--color-accent) 20%, rgba(255, 255, 255, 0) 80%);
    border-radius: 5px;
    border: 1.5px solid var(--color-accent) !important;
    color: var(--color-accent);
}

mjx-mstyle[style="border: 1.5px solid;"] > mjx-mpadded > mjx-block {
    width: auto !important;
    padding-right: 1em;
}

div.math-block mjx-mstyle:first-child[style="border: 1.5px solid;"] > mjx-mpadded > mjx-block {
    width: auto !important;
    padding-left: 1em;
    padding-right: 2em;
}
