mjx-mstyle[style="border: 1.5px solid;"] {
    background-color: var(--color-secondary-b25);
    border-radius: 5px;
    border: 1.5px solid var(--color-secondary-f50) !important;
    color: var(--color-secondary-f50);
}

mjx-mstyle[style="border: 1.5px solid;"] > mjx-mpadded > mjx-block {
    width: auto !important;
    padding-right: 1em;
}

div.math-block mjx-mstyle:first-child[style="border: 1.5px solid;"] > mjx-mpadded > mjx-block {
    width: auto !important;
    padding-left: 1em;
    padding-right: 2em;
}
